/* src/app/globals.css */
@import "tailwindcss";

@theme {
  /* This tells Tailwind to create bg-usant-red, text-usant-orange, etc. */
  --color-usant-red: #990000;
  --color-usant-orange: #FF8C00;
  --color-usant-accent: #CC4400;
}

/* Force standard light mode to prevent the "Black Screen" issue */
body {
  background-color: white;
  color: black;
  font-family: var(--font-inter), sans-serif;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}